<figure class="user-card">
  <div class="image-box">
    <img src="https://i.pravatar.cc/100" alt="user icon" />
  </div>
  <div class="user-card__detail">
    <p class="user-detail name">{%USER_FIRSTNAME%}&nbsp;{%USER_LASTNAME%}</p>
    <p class="user-detail age">Age:&nbsp;<span>{%AGE%}</span></p>
    <p class="user-detail gender">Gender:&nbsp;{%GENDER%}</p>
    <p class="user-detail email">Email:&nbsp;{%EMAIL%}</p>
    <p class="user-detail phone">Phone:&nbsp;{%PHONE%}</p>
  </div>
  <a href="/users?id={%ID%}" id="view-more">View More</a>
</figure>
